<footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © Group 27 Capstone 2018 <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap Dash</a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made by: Akanksha Pathak, Lauren Williams, Shivani Patel and Srujana Sure <i class="mdi mdi-heart text-danger"></i></span>
          </div>
        </footer>